﻿@{
    ViewBag.Title = "UrlListPage";
}
@using DBConnection.DTO;
@model List<UrlListPage_DTO>
<header>
    <style>
        #parrent-table {
            width:80%;
        }
        /*#parrent-table td {
            text-align:center;
            border-right:1px solid #000;
            border-bottom:1px solid #000;
        }
        #parrent-table th {
            border-right:1px solid #000;
            border-bottom:1px solid #000;
        }*/
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</header>
<h2>Url List Page</h2>

<table id="parrent-table" class="w3-table w3-bordered w3-border">
    <tbody>
        <tr>
            <th style="width:10%;">Rank</th>
            <th style="width:30%">Title</th>
            <th style="width:60%">URL</th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
             <tr>
            <td>@Model[i].Rank</td>
            <td>@Model[i].Title</td>
            <td><a style="color:blue;" href="/home/AnchorDetailPage/@Model[i].ID">@Model[i].UrlValue</a></td>
            </tr>
        }
    </tbody>
</table>
